[submodule "php-mode"]
	path = php-mode
	url = git://github.com/ejmr/php-mode.git
[submodule "auto-complete"]
	path = auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "popup-el"]
	path = popup-el
	url = git://github.com/m2ym/popup-el.git
